RewriteEngine On
RewriteCond %{HTTP} off
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R,L]

ErrorDocument 404 http://%{HTTP_HOST}/200.html
ErrorDocument 403 http://%{HTTP_HOST}/200.html

Options -Indexes

<LimitExcept GET>
Require valid-user
</LimitExcept>