S_HOST_SERVER="https://ecommerce.codetourism.com/"
S_API_SERVER="https://ecommerce.codetourism.com/api/"
S_BASE_PATH="milkvita"

HOST_SERVER="http://localhost:8080/"
API_SERVER="http://localhost:8080/api/"
BASE_PATH="milkvita"
